*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1475px;
  padding: 0 10px;
}

.header {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top {
  padding-top: 35px;
  /* margin-bottom: 340px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-right: 65px;
}

.header__adds {
  display: flex;
  align-items: center;
}

.header__adds-search {
  margin-right: 34px;
  background-image: url(/images/search.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}

.header__content {
  max-width: 672px;
  margin-top: 342px;
  padding-bottom: 305px;
  margin-left: auto;
}

.header__content--title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 114px;
  margin-bottom: 23px;
  text-align: center;
}

.header__content--row {
  width: 208px;
  border-top: 3px solid #C9A74D;
  margin: 0 auto;
  padding-bottom: 23px;
}

.header__content--text {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 53px;
}

.header__content-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FEFDFB;
  background-color: #000;
  padding: 24px 101px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.traditions {
  background-image: url(/images/tradition-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.traditions__descr {
  max-width: 637px;
  margin: 0 auto;
  padding-top: 115px;
  margin-bottom: 90px;
}

.traditions__descr--title {
  margin-bottom: 28px;
  text-align: center;
  color: #fff;
}

.traditions__row,
.productinfo__row {
  width: 100px;
  border-top: 3px solid #C9A74D;
  margin: 0 auto;
  padding-bottom: 28px;
}

.traditions__descr--text {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}

.traditions__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 119px;
}

.traditions__box--item {
  max-width: 290px;
}

.traditions__box-img {
  display: block;
  padding-bottom: 47px;
  margin: 0 auto;
}

.traditions__box--title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 8px;
}

.traditions__box--text {
  line-height: 150%;
  text-align: center;
}

.productinfo {
  margin-bottom: 100px;
  margin-top: 101px;
}

.productinfo__title {
  text-align: center;
  margin-bottom: 28px;
}

.productinfo__text {
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.productinfo__box {
  display: grid;
  grid-template-columns: 354px 441px 350px;
  gap: 50px;
  max-width: 1240px;
  margin: 0 auto;
}

.productinfo__box--01,
.productinfo__box--02,
.productinfo__box--03,
.productinfo__box--04,
.productinfo__box--05,
.productinfo__box--06 {
  display: flex;
  justify-content: space-between;
    margin-bottom: 71px;
}

.box__num {
  background-color: #000;
  width: 67px;
  height: 67px;
  padding: 15px 21px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

.box__descr {
  max-width: 261px;
}

.box__title {
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 17px;
}

.box__title--right {
  text-align: right;
}

.box__text {
  line-height: 150%;
}

.box__text--right {
  text-align: right;
}
