*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: cover;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1475px;
  padding: 0 10px;
}

.header {
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top {
  padding-top: 35px;
  /* margin-bottom: 340px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-right: 65px;
}

.header__adds {
  display: flex;
  align-items: center;
}

.header__adds-search {
  margin-right: 34px;
  background-image: url(/images/search.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
}

.header__content {
  max-width: 672px;
  margin-top: 342px;
  padding-bottom: 318px;
  margin-left: auto;
}

.header__content--title {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 114px;
  margin-bottom: 23px;
  text-align: center;
}

.header__content--row {
  width: 208px;
  border-top: 3px solid #C9A74D;
  margin: 0 auto;
  padding-bottom: 23px;
}

.header__content--text {
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 53px;
}

.header__content-btn {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FEFDFB;
  background-color: #000;
  padding: 24px 101px;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
